<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hp.pumpkin2">

    <application
        android:allowBackup="true"
        android:icon="@drawable/pumpkin_icon_aa"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activity.AddActivity">
        </activity>

        <activity android:name=".activity.RemarkActivity">
        </activity>

        <activity android:name=".activity.SortActivity">
        </activity>

        <activity android:name=".activity.UpdateActivity">
       </activity>

        <activity android:name=".activity.LandActivity">
        </activity>


        <activity android:name=".activity.CalendarActivity">
        </activity>

        <activity android:name=".activity.CalendarListActivity">
        </activity>


        <receiver android:name=".receiver.MyReceiver">
            <intent-filter>
                <action android:name="ELITOR_CLOCK" />
            </intent-filter>
        </receiver>

    </application>

</manifest>